%h1=@wallet.name + "'s wallet"
-	@wallet.credit_cards.each do |credit_card|
	%div{:class => 'row'}
		%div{:class => 'col-md-1'}
			%i{:class => 'fa fa-cc-visa fa-3',:style => 'font-size: 2em;'}
		%div{:class => 'col-md-4'}
			%div=credit_card.hidden_card_number
		%div{:class => 'col-md-4'}
			%div=credit_card.CCV
		%div{:class => 'col-md-3'}
			%div=credit_card.expiration_date


%br
= link_to 'Edit', edit_wallet_path(@wallet) |
= link_to 'Back', wallets_path
